extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Maliha Taufiq

        p.lead.text-light
          | Full Stack JavaScript Developer

        .portfolio-bio
          p A Full Stack Developer who specializes in JavaScript technologies across the whole stack (Node.js, Express). Experience building complete web applicationss with API systems.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Object-Oriented Javascript
          li jQuery
          li Node.js
          li npm
          li Express
          li API
          li Pug


        h6 Contact Info

        ul
          li mtaufiq02@gmail.com
          li 517-980-4907

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(target="_blank" href='https://www.linkedin.com/in/maliha-taufiq-17737762/') LinkedIn
        a.button.expanded(target="_blank" href='https://github.com/taufma8') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  